@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

:root {
    --main-white: #f0f0f0;
    --main-darkblue: #00435C;
    --main-blue: #007BA8;
    --main-softblue: #00A0DB;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    
  }

  html {
      scroll-behavior: smooth;
      font-size: 62.5%;
  }

  body {
    font-family: 'Roboto', sans-serif;
    background: var(--main-blue);
    color: var(--main-darkblue);
  }

  ul {
      list-style: none;
  }

  a {
      text-decoration: none;
      color: var(--main-white);
  }

  div {
      display: block;
      margin-bottom: 4rem;
  }

  .welcome-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 0 auto;
        padding: 6rem 0 6rem 0;
  }

  h1, h2 {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      margin: 2rem 0 2rem 0;
  }

  h1 {
      font-size: 4rem;
  }

  h2 {
      font-size: 2rem;
  }

  p {
      width: 60%;
      /* text-align: center; */
      margin: 0.5rem;
      padding: 1rem;
  }

  .nav {
      display: flex;
      justify-content: center;
      position: fixed;
      width: 100%;
      background: var(--main-darkblue);
  }

  .nav-list {
    display: flex;
  }

  .nav-list a {
    display: block;
    font-size: 2rem;
    padding: 2rem;
  }

  .nav-list a:hover {
    background: var(--main-blue);
  }

  .avatar {
      width: 200px;
      float: left;
      border: 2px solid var(--main-darkblue);
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }

  .div-cor1 {
    background: var(--main-blue);
  }

  .div-cor2 {
      background: var(--main-softblue);
  }

  .projects-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: auto;
  }


  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40vh;
    padding: auto;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin: 2rem;
    
  }

  .contact-links > a {
    padding: 1rem;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: var(--main-darkblue);
    color: var(--main-white);
  }
  
  footer > p {
    margin: 2rem;
    text-align: center;
  }